In [ ]:
first = "Mohan"
last = " Sharma"

In [1]:
name = first + " " + last
name

NameError: name 'first' is not defined

In [2]:
name = first + " " + last
name

NameError: name 'first' is not defined

In [3]:
first = "Mohan"
last = "Sharma"
name = first + " " + last
name

'Mohan Sharma'

In [4]:
name = f'{first} {last}

SyntaxError: EOL while scanning string literal (3367929080.py, line 1)

In [12]:
name = f'{first} {last} is healthy'
name

'Mohan Sharma is healthy'

In [20]:
name[0]
name[2]

' '

In [21]:
name[start:last]

NameError: name 'start' is not defined

In [22]:
name[o:5]

NameError: name 'o' is not defined

In [23]:
name[0:5]

'Mohan'

In [25]:
name[5:12]

' Sharma'

In [26]:
name[:5]

'Mohan'

In [27]:
name[6:]

'Sharma is healthy'

In [29]:
name[-1:]

'y'

In [30]:
name[-6:]

'ealthy'

In [31]:
len(name)

23

In [32]:
my_food = "samosa,jalebi"
my_food

'samosa,jalebi'

In [33]:
'salad' in my_food

False

In [34]:
'jalebi' in my_food

True

In [36]:
'samosa' not in my_food

False

In [37]:
food_story = 'lakshika's favourite food is banana'.

SyntaxError: invalid syntax (1050268638.py, line 1)

In [39]:
food_story = "lakshika's favourite food is banana"
food_story

"lakshika's favourite food is banana"

In [40]:
food_story = 'lakshika"s favourite food is banana'
food_story

'lakshika"s favourite food is banana'

In [42]:
food_review = '''I was forced to do fast after seeing food. 
I will try again.'''
food_review

'I was forced to do fast after seeing food. \nI will try again.'

In [43]:
food_review = '''I was forced to do fast after seeing food. 
I will try again.'''
print(food_review)

I was forced to do fast after seeing food.
I will try again.

In [44]:
s = "patient was charged $100 for a lab test."
s

'patient was charged $100 for a lab test.'

In [45]:
s.replace("$100","$50")
s

'patient was charged $100 for a lab test.'

In [47]:
s = s.replace("$100","$50")
s

'patient was charged $50 for a lab test.'

In [48]:
s

'patient was charged $50 for a lab test.'

In [1]:
s

NameError: name 's' is not defined

In [2]:
s = "patient was charged $100 for a lab test."
s

'patient was charged $100 for a lab test.'

In [3]:
s.upper()

'PATIENT WAS CHARGED $100 FOR A LAB TEST.'

In [4]:
s.lower()

'patient was charged $100 for a lab test.'

In [5]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [14]:
'Elephant'.translate

In [15]:
s

'patient was charged $100 for a lab test.'

In [17]:
'410'.isdigit()

True

In [18]:
'41etwgd0'.isdigit()

False

In [19]:
s

'patient was charged $100 for a lab test.'

In [20]:
s.index('was')

8

In [16]:
s.index('dhaval')

ValueError: substring not found

In [21]:
text="my age is:"
age=38

In [22]:
age

38

In [23]:
str(age)

'38'

In [24]:
text+str(age)+ ' years'

'my age is:38 years'

In [25]:
f'my age is: {age} years'

'my age is: 38 years'

In [26]:
height = 65
weight = 50

In [27]:
patient_info= f'Height: [height} cm Weight: {weight} kg'
patient_info

SyntaxError: f-string: single '}' is not allowed (157505753.py, line 1)

In [28]:
patient_info = f'Height: {height} cm Weight: {weight} kg'
patient_info

'Height: 65 cm Weight: 50 kg'

In [32]:
patient_info = f'Height: {height} cm\nWeight: {weight} kg'
print(patient_info)

Height: 65 cm
Weight: 50 kg

In [33]:
s= "hey\tbro"
print(s)

hey	bro

In [34]:
a = "hello python"

In [35]:
a.capitalize()

'Hello python'

In [36]:
a.title()

'Hello Python'